<div class="row">
  <div class="col-md-12">
  <p id="notice"><%= notice %></p>

  <h1>Todo Apps</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Rating</th>
        <th>Picture</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @todo_apps.each do |todo_app| %>
        <tr>
          <td><%= todo_app.name %></td>
          <td><%= todo_app.url %></td>
          <td><%= todo_app.rating %></td>
          <td><%= image_tag todo_app.picture, height:100 %></td>
          <td><%= link_to 'Show', todo_app, class: 'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_todo_app_path(todo_app), class: 'btn btn-default' %></td>
          <td><%= link_to 'Destroy', todo_app, class: 'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Todo App', new_todo_app_path, class: 'btn btn-default' %>
  </div>
</div>
